* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  z-index: 1;
  background-color: #FF6900;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px 20px;
  box-shadow: 0px 2px 5px #7e7d7d;
}

header div img {
  width: 150px;
}

header div a {
  text-decoration: none;
  margin: 0px 10px;
  color: #fff;
  flex-wrap: nowrap;
}

main {
  display: flex;
  justify-content: center;
}

.icon .fa-regular,
.fa-solid {
  margin: 0px 5px;
  color: #fff;
}

/*******Tools*********/
.container {
  background-color: aqua;
  width: 1800px;
  margin: 200px 0px;
  gap: 70px;
}

.col-33 {
  width: calc(100% / 3 - 70px);
  background-color: beige;
  border: 1px solid black;
}

.d-flex {
  display: flex;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.card img {
  width: 100%;
}

.card {
  position: relative;
}

.discount {
  padding: 5px;
  color: white;
  position: absolute;
  bottom: 40;
  left: 0;
}

.col-33 p {
  font-size: 0.9em;
}

.prod-name {
  font-weight: 700;
  font-size: 1.1em;
}

.highlithed {
  color: red;
  font-weight: 600;
}

.deleted {
  text-decoration: line-through;
}

.bg-red {
  background-color: red;
}